<h2>Dodaj zadanie:</h2>
<% form_for :task,
     :url => {:controller => :tasks,
              :action => :create
             } do |f| %>
  <div><%= f.label :title %><br/><%= f.text_field :title %></div>
  <div><%= f.label :description %><br/><%= f.text_area :description %></div>
  <br/>
  <div><%= submit_tag "zapisz" %></div>
<% end %>
<br/>
<%= link_to "Index", :controller => "tasks", :action => "index" %>